<header>
  <nav class="nav">
    <ul class="nav__menu">
      @for(item of listNav; track $index) {
      <li class="nav__item" >
        <a
          class="nav__link"
          [routerLink]="item.link"
          [routerLinkActive]="item.linkActive"
          [routerLinkActiveOptions]="item.linkOptions ?? {exact: false}"
        >
          {{ languageService.translate(item.name) }}
        </a>
      </li>
      }
    </ul>

    <div class="nav__controls">
      <button (click)="toggleLang()">
        {{ languageService.lang() === 'ru' ? 'EN' : 'RU' }}
      </button>

      <button (click)="toggleRole()">
        👤 {{ authService.role() === 'admin' ? 'Admin' : 'User' }}
      </button>

      <!--<button (click)="toggleTheme()">
        {{ themeService.theme() === 'light' ? '🌙' : '☀️' }}
      </button>-->

      <input
        (change)="toggleTheme()"
        type="checkbox"
        name="checkbox"
        id="toggleTheme"
        class="toggle-theme"
        [checked]="themeService.theme() === 'dark'"
      />
    </div>
  </nav>
</header>
