/* You can add global styles to this file, and also import other style files */


// Светлая тема (по умолчанию)
:root,
body.light {
  --bg-primary: rgb(152, 181, 205);
  --bg-secondary: rgb(4, 76, 134);

  --text-primary: #212121;
  --text-secondary: #757575;
  --accent: darkred;
  --border: #e0e0e0;
}

// Тёмная тема
body.dark {
  --bg-primary: #1a1a1a;
  --bg-secondary: #2d2d2d;
  --text-primary: #ffffff;
  --text-secondary: #b0b0b0;
  --accent: #8b9aff;
  --border: #404040;
}

// Применяем переменные
body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;

  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
